.description {
  max-width: 850px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  padding: 0 20px;
  color: #ffffff;
  font-weight: 300;
  position: relative;
  z-index: 10;
}

.description strong {
  font-weight: 700;
}


@media (max-width: 768px) {
  .description {
    font-size: 18px;
    padding: 0 15px;
  }
}


